.musicPlayer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 100px;
	backdrop-filter: blur(24px);
	background-image: linear-gradient(
		to bottom right,
		hsl(252deg 72% 22% / 0.5),
		hsla(299deg, 100%, 27%, 0.3)
	);
	padding: var(--base--spaces--3) var(--base--spaces--7);
	display: none;
	z-index: 100;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	grid-gap: 15px;
	@media screen and (max-width: 1024px) {
		grid-template-columns: repeat(2, 1fr);
	}
	&.active {
		display: grid;
	}
	&.mobileIndex {
		@media screen and (max-width: 576px) {
			z-index: 1;
		}
	}
}

.middleBar {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	justify-content: center;
	grid-gap: 10px;
}
