.controlsBar {
	display: grid;
	grid-template-columns: repeat(5, auto);
	justify-content: center;
	align-items: center;
	grid-gap: var(--base--spaces--5);
	@media screen and (max-width: 768px) {
		grid-template-columns: repeat(3, auto);
	}
	svg {
		path {
			transition: all 0.3s ease-in-out;
		}
		&:hover {
			path {
				fill: var(--base--color--lightblue-2);
			}
		}
	}
}
.mobHide {
	@media screen and (max-width: 768px) {
		display: none;
	}
}
