.gridWrapper {
  //Variables
  --grid--gap: var(--base--spaces--1);
  --grid--count: 1;

  //Styles
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--grid--count), 1fr);
  grid-gap: var(--grid--gap);
  @media screen and (max-width: 1300px) {
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
  }
  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
