.uiDropdown {
  position: relative;
  display: inline-block;
  @media (max-width: 1100px) {
    justify-self: center;
  }
  .sortLabel {
    span {
      b {
        svg {
          transition: all 0.2s ease-in-out;
          margin-right: 5px;
        }
      }
    }
  }
}

.selectSort {
  color: var(--base--color--lightblue-2);
  opacity: 1;
  font-weight: 500;
  cursor: pointer;
  margin-left: var(--base--spaces--2);
}

.caret {
  &.caretActive {
    svg {
      transform: rotate(180deg);
    }
  }
}

.sortList {
  position: absolute;
  bottom: auto;
  min-width: 150px;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: var(--base--color--white);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0;
  z-index: 100;
  margin-top: var(--base--spaces--3);
  &.visibleList {
    opacity: 1;
    visibility: visible;
  }
}

.sortListItem {
  font-weight: 500;
  font-size: var(--base--font--size);
  cursor: pointer;
  padding: var(--base--spaces--3) var(--base--spaces--4);
  &:hover,
  &.active {
    color: var(--base--color--lightblue-2);
    background: rgba(var(--base--color--lightblue-2), 0.05);
  }
}
